@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;600;700&family=Quicksand:wght@300..700&display=swap');

:root{

    /* header height */
    --header-height:3rem;
    /* colors */
    --title-color:#473525E5;
    --description-light:#6e6348;
    --dollar-color: #FF3D00;
    --nav-color: #000000;
    --feature-background:linear-gradient(180deg, #FFE2C8 0%, #FFF3C8 0.01%, #FEBA44 85.42%);
    --menu-background:linear-gradient(360deg, rgba(255, 155, 37, 0.87) 2.43%, #FFF3C8 83.67%);


    --menu-icon-bg:#FF9900;
    --menu-icon-color:#FFFFFF;
    --menu-border:#FDFDFD;
    --social-link-bg:#EDFFEF;
    --social-link-color:#484848;



    /* font and font-size */
    --first-font:"Quicksand", sans-serif;
    --second-font-family:"Jost", sans-serif;
    --third-font-family:"Poppins", sans-serif;
    --font-normal:400;
    --font-medium:600;
    --font-semibold:700;
    --biggest-font-size:3rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    --normal-font-size:0.938rem;
    --small-font-size:.813rem;

    /* z-index */
    --tool-fixed:100;
    --tool-tip:10;

}
/* Responsive typography */
@media screen and (min-width:1024px){
    :root{
        --biggest-font-size:4.5rem;
        --h1-font-size:2.25rem;
        --h2-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
        --small-font-size:.875rem;
    }
    
}
/* BASE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--first-font);
    font-size: var(--normal-font-size);
    background-image: url(../img/background.png);
    background-repeat:no-repeat;
    background-size: cover;
    object-fit: cover;
    color: var(--title-color);
}
h1,h2,h3{
    font-family: var(--second-font-family);
    font-weight: var(--font-semibold);
    color: var(--title-color);
}
ul{
    list-style: none;;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
section{
    padding-block: 4rem 1rem;
}
.section__title{
    font-size:calc( var(--biggest-font-size) - 1rem );

}
.main{
    overflow: hidden; /*for animation*/
}
.container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* HEADER */
.header{
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: var(--tool-fixed);
    font-family: var(--third-font-family);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);;
    position: relative;
}
.nav__logo{
    width: 70px;
    padding: .5rem;
}
.logo__img{
    width: 100%;
}
@media screen and (max-width:568px){
    
.nav__menu{
    position: fixed;
    background-image: url(../img/background.png);
    background-size:cover;
    background-repeat: no-repeat;
    right: -100%;
    top:var(--header-height);
    width: 70%;
    height:100vh;
    padding:2.5rem 2rem  1rem 1rem;
    margin: 0;
    border-radius: .5rem;
}
.nav__link{
    font-size: var(--h2-font-size);
}

}
.nav__list{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    row-gap: 2rem;
}

.nav__link {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* font-size:var(--normal-font-size); */
    font-weight: var(--font-normal);
    color: var(--nav-color);
    column-gap: .5rem;
}
.nav__link:hover{
    color:var(--menu-icon-bg);
}
.nav__link:hover .nav__icon{
    color: var(--menu-icon-bg);
}
.nav__icon{
    color: var(--title-color);
}

.login__btn{
    font-size: var(--normal-font-size);
    padding: .2rem .5rem;
    border-radius: .5rem;
    border: 2px solid var(--menu-icon-bg);
    background-color: transparent;
    margin-right: 1rem;
}
.nav__close{
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    font-size: 2rem;
    color: var(--title-color);
}
.nav__close:hover{
    color: var(--menu-icon-bg);
}
.nav__bar{
    font-size: var(--normal-font-size);
    color: var(--nav-color);
    cursor: pointer;
    font-weight: var(--font-medium);
    margin-right: 1rem;
}
/* nav-show */
.nav__show{
    top: 3rem;
    right: 0;

}
/* Active link */
/* .active-link::after{
    content: '';
    position: absolute;
    bottom: 10px;
    width: 50px;
    height: 2px;
    background-color: #FF3D00;
    margin:0 auto;
    transform: 0 0;
    opacity: 0;
    transition-property: opacity transform;
}
.active-link::after{
    opacity: 1;
    transform: translateY(4px);
} */

/* header shadow */
.header-shadow{
    box-shadow: 0 4px 6px rgba(144, 116, 63, 0.5);
}

/* HOME */
.home__container{    
    justify-content: center;
    padding-block: 3rem 2rem;
    row-gap: 3rem;
}
.home__data{
    position: relative;
    text-align: center;
}
.home__title{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-semibold);
    line-height: 3.2rem;
    margin-bottom: 2rem;
    color: var(--title-color);
    text-align: center;
}
.home__description{
    font-size: var(--normal-font-size);
    font-weight: var(--font-normal);
    margin-bottom: 1rem;
    padding: 0 4rem;
    font-family: var(--second-font-family);
    color: var(--description-light);
}
.home__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    font-family: var(--third-font-family);
}
.button-1{
    background-color:var(--title-color);
    color: var(--menu-icon-color);
    padding: .4rem .5rem;
    border-radius: .5rem;
}
.button-2{
    background-color: transparent;
    border: 2px solid var(--title-color);
    padding: .4rem .5rem;
    border-radius: .5rem;
    color: var(--title-color);
}
.button-1:hover,.button-2:hover{
    background-color: var(--social-link-bg);
    color: var(--title-color);
}
.button-2:hover{
    border: 2px solid var(--menu-icon-bg);
}
.home__image{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 300px;
    margin: 0 auto; */
    
}

/* FEATURES */

.features__container{
    grid-template-columns: 100%;
    justify-content: center;
    row-gap: 3rem;
}
.features__data{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: relative;
}
/* .features__title{
    font-size: calc(var(--biggest-font-size) - 1rem);
} */
.features__description{
    font-size: var(--small-font-size);
    font-weight: var(--font-normal);
    padding: .5rem 1rem;
    font-family: var(--third-font-family);
    color: var(--description-light);
}
.features__images{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    position: relative;
    width: 100%;
    height: 550px;
    padding: 1rem 1rem 2rem;
}
.features__image{
    background: var(--feature-background);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    width: 145px;
    height: 200px;
    margin: 0 auto;
    position: absolute;    
    box-shadow:0 4px 8px #575030 ;
}
.image-1{
    top: -2rem;
    left: 1rem;
}
.image-2{
    top: 9rem;
    right: 1rem;
}
.image-3{
    top :20rem;
    left: 1rem;
}

.features__img-1{
    width: max-content;
}
.features__img-2{
    width: 60px;
}
.features__img-3{
    width: 200px;
}
.features__image:hover{
    transition: .4s;
    transform: scale(1.05);
}

/* MENU */
.menu__title{
    text-align: center;
    margin-bottom: 2rem;
}
.menu__container{
    max-width: 1052px;
    /* margin: 0 auto;
    width: 300px; */
    padding: 2rem;
}
.menu__box{
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap:1rem;
    
}
.menu__card{
    background: var(--menu-background);
    /* width: 100px;
    height: 200px; */
    border-radius: 1rem;
    border: 1px solid var(--menu-border);
    padding: 1rem ;
    position: relative;
    box-shadow: 0 4px 8px #8e712b;
}
.menu__icon{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    background-color: var(--menu-icon-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    border-radius: 0 1rem 0 1rem;
    width: 50px;
    height: 40px;
    border: none;
}
.menu__icon i{
    color: var(--menu-icon-color);
    font-size: 1.5rem;
}
.menu__image{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.menu-3{
    transform: rotate(-90deg);
}
.menu__img{
    width: 200px;
}

.menu__data{
    display: block;
    text-align: left;
}
.menu__card-title{
    font-size: var(--normal-font-size);
    color: var(--title-color);
    font-family: var(--third-font-family);
    font-weight: var(--font-medium);
}
.menu__card-description{
    font-size: var(--small-font-size);
    font-weight: var(--font-normal);
    font-family: var(--second-font-family);
    color: var(--description-light);
    margin-bottom: .5rem;
}
.menu__card-price{
    color:var(--title-color);
    font: var(--third-font-family);
    font-weight: var(--font-semibold);
}
.menu__card-price span{
    color:var(--dollar-color)
}

.menu__card:hover{
    transition: .4s;
    transform: scale(1.05);
}
.swiper-pagination-bullet-active{
    background-color: #675326;
}

/* CONTACT */

.contact__container{
    /* max-width: max-content; */
    justify-self: center;
    column-gap: 1rem;    
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}
.contact__form{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.contact__title{
    margin-bottom: .5rem;
}
.contact__description{
    font-family: var(--third-font-family);
    font-size: var(--normal-font-size);
    font-weight: var(--font-normal);
    color: var(--description-light);
    margin-bottom: 1rem;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    row-gap: .5rem;
}
input{
    /* width: 70%; */
    padding:.5rem;
    border: 1px solid var(--menu-border);
    border-radius: .5rem;
}
input:focus,textarea:focus{
    outline: none;
}
textarea{
    padding:.5rem;
    border: 1px solid var(--input-border);
    border-radius: .5rem ;
    margin-bottom: 1rem;
}
.submit{
    background-color: var(--menu-icon-bg);
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: 1px solid var(--menu-icon-color);
    color: var(--nav-color);
    cursor: pointer;
}
.submit:hover{
    background-color: var(--social-link-bg);
    color: var(--nav-color);
}

.contact__sitemap{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}
.sitemap__list{
    padding: .5rem 1rem;
}
.sitemap__item{
    margin-bottom: .5rem;
}
.sitemap__item::before{
    content: '-';
    color: var(--nav-color);
    font-size: 1rem;
    padding: .5rem;
}
.sitemap__link{
    color: var(--nav-color);
    font-family: var(--third-font-family);    
}
.sitemap__link:hover{
    text-decoration: underline;
}
.contact__address{
    padding-block: .5rem 2rem;
    position: relative;

}
.contact__logo{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: -3rem;
    right: 1rem;
}
.contact__info{
    margin-top: 3rem;
}
.address{
    margin-bottom: 1rem;
    display: flex;
    column-gap: .5rem;
    color: var(--nav-color);
    cursor: pointer;
}

/* HIDDEN SECTIONS */
.hidden{
    display: none;
}
.show{
    display: block;
}
.contact__link{
    margin-top: 0;
}
/* common areas */
.aboutus__container,.services__container,.blog__container{    
    padding: .5rem 1rem;
    position: relative;
}

/* .aboutus__image,.services__image{
    width: 200px;
} */

/* ABOUT US */
.aboutus__title{
    margin-bottom: 1rem;
    text-align: center;
}
.aboutus__description{
    color: var(--description-light);
    line-height: 1.4rem;
}


/* SERVICES */

.services__title{
    margin-bottom: 1rem;
    text-align: center;
}
.services__description{
    color: var(--description-light);
    line-height: 1.4rem;
}

/* BLOG */

.blog__title{
    margin-bottom: 1rem;
    text-align: center;
}
.blog__description{
    color: var(--description-light);
    line-height: 1.4rem;
}
.blog__image{
    position: relative;
    /* width: 200px; */
    overflow: hidden;
}
.blog__img{
    position: relative;
    z-index: 10;
}
.blog__img-splash{
    z-index: 1;
    position: absolute;
    bottom:-6rem;
    transform: rotateY(180deg);
}


.footer__container{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.footer__social{
    display: flex   ;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;

}
.footer__social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--menu-icon-color);
    padding: .3rem ;
    border-radius: 50%;
}
.footer__social-link i{
    color: var(--description-light);
    font-size: 1rem;
}
.footer__social-link i:hover{
    color: var(--menu-border);
}
.footer__social-link:hover{
    background-color: var(--menu-icon-bg);
}
::-webkit-scrollbar{
    width: 0.7rem;
    background-color: #e5dba8;
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb{
    background-color: #927d4b;
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #b89734;
}

/* BREAKING POINT */

/* SMALL */
@media screen and (max-width: 320px){
    /* .home__data{
        width: 250px;
        margin: 0 auto;
    } */
    .home__title{
        font-size: 2.5rem;
    }
    .home__description{
        padding: 0 2rem;
    }
    .home__image{
        width: 80%;
        margin: 0 auto;
    }
    /* .features__images{
        width: 200px;
        margin: 0 auto;
    } */
    .features__image{
        width: 48%;
        height: 170px;
    }
    .image-1{
        left: 0;
    }
    .image-2{
        top: 7rem;
        right: 0;
    }
    .image-3{
        top: 16rem;
        left: 0;
    }
    .menu{
        padding-block: 1rem;
    }
    /* .menu__container{
        width: 270px;
    } */
     .aboutus__description,.services__description,.blog__description{
        font-size: var(--small-font-size);
     }
     .blog__img-splash{
        bottom: -5rem;
     }
    textarea{
        width: 230px;
    }
    .contact__container{
        column-gap: .5rem;
        grid-template-columns: repeat(1,1fr);
    }
    .contact__form{
        grid-column: 1;
    }
    .contact__address{
        margin: 0 auto;
    }
    .contact__logo{
        top: -2rem;
    }

    .footer__container{
        flex-direction: column;
        row-gap: 1rem;
    }
}
@media screen and (min-width: 321px) and ( max-width:365px){
    .features__image{
    width:50%;
    height:190px
    }
    .image-1,.image-3{
        left:0;

    }
    .image-2{
        right: 0;
    }
    
} 
@media screen and (min-width:414px){
    .features__image{
        width: 43%;
        height: 44%;
    }
    .menu__container{
        width: 350px;
        margin:0 auto
    }
    .aboutus__description,.services__description,.blog__description{
        padding: 0 1rem;
        text-align: center;
    }
    
}


/* MEDIUM */
@media screen and (min-width:569px){
    .nav__menu{
        right: 0;
        top: 0;
        position: relative;
        background:none;
        padding: .5rem;
    }
    .nav__close,.nav__bar{
        display: none;
    }
    .nav__list{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
    }
    .home__image{
        width: 450px;
        margin: 0 auto;
    }
    
    .home__description,.features__description,.contact__description,.aboutus__description,.services__description,.blog__description{
        /* text-align:initial; */
        font-size: var(--h3-font-size);
    }
    /* .home__description{
        padding: 0 5rem;
    } */
    /* .features__container{
        grid-template-columns: 500px;
    } */
    
    .features__images{
        height: 300px;
    }
    .features__image{
        width: 29%;
        height: 75%;
    }
    .image-2{
        top: 3rem;
        left: 1rem;
        right: .1rem;
    }
    .image-3{
        right: 0;
        left: initial;
        top: -2rem;

    }
    .section__title{
        font-size: var(--biggest-font-size);
    }
    .menu__container{
        width: 500px;
    }
    .menu__card{
        width: auto;
        height: auto;
    }
    .blog__image{
        width: 400px;
        margin: 0 auto;
    }
    .blog__img-splash{
        bottom: -8rem;
    }
    .contact__container{
        width: initial;
    }
    .contact__form{
        grid-column: 1;
    }
    .contact__title{
        font-size: var(--biggest-font-size);
    }
    .contact__sitemap{
        margin-bottom: .5rem;
        padding: .5rem 1rem 3rem;
    }
    .sitemap__link{
        font-size:1.25rem ;
    }
    .contact__address{
        grid-column: 1/3;
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto;
    }
    .footer__container{
        flex-direction: row;
    }
    
}
@media screen and (min-width: 768px){
    /* .home__data{
        width: 600px;
    } */
    .home__title{
        line-height: initial;
    }
    .features__images{
        height: 400px;
        margin: 0 auto;
    }
    .menu__container{
        width: 700px;
    }
    .aboutus__container,.services__container,.blog__container{
        grid-template-columns: .8fr 1fr;
    }
    /* .services__container{
        grid-template-columns: 1fr;
    } */
    .services__image{
        order: -1;
    }
    .aboutus__image{
        width: 350px;
    }
    .blog__image{
        width: 250px;
    }
    .blog__img-splash{
        bottom: -5rem;
    }
    .contact__container{
        gap: 3rem;
    }
    
}
@media screen and ( min-width:800px){
    .contact__container{
        grid-template-columns: repeat(3,1fr);
    }
    .contact__address{
        grid-column: initial;
        padding: 0 2rem 10rem;
    }
    .contact__logo{
        width: 150px;
    }
    .contact__info{
        position: relative;
        top: 3rem;
    }  
    .contact__title{
        font-size: calc( var(--biggest-font-size) - 1rem );
    }
    
}


/* LARGE */
@media screen and (min-width: 1024px) {
    .nav__list{
        column-gap: 4rem;
    }
    .home__container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;        
        margin-bottom: 4rem;
    }
    .home__data{
        padding: 0 2rem;
    }
    .home__description,.home__title{
        padding: initial;
        text-align: initial;
    }
    .home__buttons{
        justify-content: initial;
    }
    .home__image{
        width: 90%;
        padding-left: 2rem;
        margin: 0 auto;
    }
    .features__container{
        grid-template-columns: .5fr 1fr;
        padding: 0 3rem;
        align-items: center;
        margin-bottom: 8rem;
        justify-items: center;
    }
    .features__data{
        text-align: initial;
    }
    .features__title{
        font-size: calc( var(--biggest-font-size) - 1rem );
    }
    .features__description{
        padding: initial;
        /* width: 250px; */
    }
    .features__image{
        width: 175px;
        height: 280px;
    }
    .menu{
        padding: 0 3rem;
    }
    .menu__title{
        /* text-align: initial; */
        margin-bottom: 0;
    }
    .menu__container{
        width: 100%;
    }
    .menu__card{
        height: 300px;
    }
    .menu__image{
        width:179px;
        height: 180px;
    }
    .menu__card-title{
        font-size: var(--h2-font-size);
    }
    .menu__card-price{
        font-size: var(--h3-font-size);
    }
    .menu__box{
        gap: 0;
    }
    
    .aboutus__container,.services__container,.blog__container{
        /* width: 90px; */
        align-items: center;
        padding: 0 3rem;
        margin: 0 auto;
    }
    /* .aboutus__title,.services__title,.blog__title{
        text-align: initial;
    } */
    .aboutus__description,.services__description,.blog__description{
        color: #000000c3;  
        text-align: initial; 
    }
    /* .services__image{
        width: 600px;
    } */
    .aboutus__image{
        width: 500px;
    }
    .blog__image{
        width: 350px;
    }
    .blog__img-splash{
        bottom: -7rem;
    }
    .footer__container{
        column-gap: 7rem;
    }
}

@media screen and (min-width: 1168px) {
    .features__image{
        width: 200px;
        height: 280px;
    }   
}