@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;600;700&family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* body{
    @apply font-first;
    background-image: url('./assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
} */

h1,h2,h3{
    @apply font-second;
}

:root{
    --biggest-font-size:3rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    --normal-font-size:0.938rem;
    --small-font-size:.813rem;
}
@media screen and (min-width:1024px){
    :root{
        --biggest-font-size:4.5rem;
        --h1-font-size:2.25rem;
        --h2-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
        --small-font-size:.875rem;
    }
    
}

.hero{
    font-size: var(--biggest-font-size);
}
h1{
    font-size: var(--h1-font-size);
}
h2{
    font-size: var(--h2-font-size);
}
h3,.h3{
    font-size: var(--h3-font-size);
}
.normal-text{
    font-size: var(--normal-font-size);
}
.small-text{
    font-size: var(--small-font-size);
}
/* .container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
} */
.section__title{
    font-size:calc( var(--biggest-font-size) - 1rem );

}
.second-img{
     width: 60px;
}

